@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');
@import url("https://unicons.iconscout.com/release-pro/v4.0.0/css/line.css");

$--font-primary: "Crimson Text";

$--color-primary: #131315;
$--color-primary-rgb: 19,19,21;
$--color-primary-contrast: #ffffff;
$--color-primary-contrast-rgb: 255,255,255;
$--color-primary-shade: #111112;
$--color-primary-tint: #2b2b2c;

$--color-secondary: #456990;
$--color-secondary-rgb: 69,105,144;
$--color-secondary-contrast: #ffffff;
$--color-secondary-contrast-rgb: 255,255,255;
$--color-secondary-shade: #3d5c7f;
$--color-secondary-tint: #58789b;

$--color-light: #eadbcb;
$--color-light-rgb: 238,229,229;
$--color-light-contrast: #000000;
$--color-light-contrast-rgb: 0,0,0;
$--color-light-shade: #d5c7b9;
$--color-light-tint: #f0e8e8;

$--color-interactive-primary: #e84855;
$--color-interactive-secondary: #3185fc;
$--color-interactive-tertiary: #f3a712;